.ruleGroup {
  --tw-bg-opacity: 0.2;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: rgba(183, 204, 226, var(--tw-bg-opacity));
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border: 1px solid rgba(183, 204, 226, 0.25);
}

.ruleGroup .rule,
.ruleGroup .ruleGroup {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.ruleGroup .ruleGroup-combinators.betweenRules {
  margin-top: 0.5rem;
}

.ruleGroup .ruleGroup-notToggle {
  margin-right: 0.5rem;
}
